<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>

    <nav class="navbar">
        <a href="/home_admin" class="home-btn">🏠</a>
        <div class="nav-right">
            <div class="nav-links">
                <a href="/appointment_admin">Pregledi</a>
                <a href="/user_admin">Uporabniki</a>
                <a href="/department_admin">Oddelki</a>
                <a href="/patient_admin">Pacienti</a>
                <a href="/staff_admin">Zaposleni</a>
                <a href="/room_admin">Sobe</a>
                <a href="/bed_admin">Postelje</a>    
                <a href="/admission_admin">Sprejemi</a>
                <a href="/diagnosis_admin">Diagnoze</a>
            </div>
            <a href="/logout" class="logout-btn">Odjava</a>
        </div>
    </nav>
    <div class="content">
        <h1>Portal za admina</h1>
    </div>

</body>
</html>