<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>

    <nav class="navbar">
        <a href="" class="home-btn">🏠</a>
        
        <div class="nav-links">
            <a href="#">pregledi</a>
            <a href="#">sprejemi</a>
            <a href="#">diagnoze</a>
            <a href="#">oddelki</a>
            <a href="#">sobe</a>
            <a href="#">postelje</a>
            <a href="#">dodajanje novih uporabnikov</a>
            <a href="#">spreminjanje vlog</a>
        </div>
        <a href="/logut" class="logout-btn">Log Out</a>
    </nav>

    <div class="content">
        <h1>Portal za admina</h1>
    </div>

</body>
</html>