<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body class="has-navbar">

    <nav class="navbar">
        <a href="{{ url_for('main.doctor_dashboard') }}" class="home-btn">🏠</a>
        
        <div class="nav-right">
            <div class="nav-links">
                <a href="{{ url_for('main.appointment_doctor') }}">Pregledi</a>
                <a href="{{ url_for('main.admission_doctor') }}">Sprejemi</a>
                <a href="{{ url_for('main.diagnosis_doctor') }}">Diagnoze</a>
            </div>
            <a href="{{ url_for('auth.logout') }}" class="logout-btn">Odjava</a>
        </div>
    </nav>

    <div class="content">
        <h1>Portal za doktorja</h1>
        <p>Pozdravljeni {{ current_user.name }}!</p>
        <br>
        <p>Tukaj lahko dostopate do pregledov, sprejemov in diagnoz svojih pacienov.</p>
        <p>Prav tako lahko diagnoze dodajate ter spreminjate in dodajate nove preglede.</p>
    </div>

</body>
</html>